@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", serif;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: royalblue;
    min-height: 10vh;
    margin-bottom: 1vh;
}

.header-wrapper header h1 {
    color: white;
    padding-left: 5px;
}

.header-wrapper ul {
    display: flex;
    gap: 1vw;
    padding-right: 5px;
}

.header-wrapper ul li {
    list-style: none;
}

.header-wrapper ul li a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    position: relative;
}

.container main {
    flex-grow: 1; 
}

.container main article{
 margin: 1vh 0;
}

.section-container{
display: flex;
flex-direction: row;
flex-grow: 1;
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
    position: fixed;

}
